<!DOCTYPE html>
<!-- Esto es un comentario...  -->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{general/fragmentos :: head}"></head>
    <body>
        <header th:replace="~{general/fragmentos :: header}"></header>
        <aside class="container mt-3">
            <h1>Multimedia</h1>
            <p>Incorporación de recursos multimedia en el sitio web...</p>
        </aside>
        <section class="container">
            <h2>Uso de Multimedia</h2>
            <article>
                <h3>Música Celta</h3>
                <audio controls>
                    <source src="/audios/musica.mp3" type="audio/mpeg">
                    Your browser does not support the <code>audio</code> tag.
                </audio>
            </article>
            <article>
                <h3>Película de Acción</h3>
                <video width="320" height="240" controls>
                    <source src="/videos/torpedo.mp4" type="video/mp4">
                    Your browser does not support the <code>video</code> tag.
                </video>
            </article>
        </section>
        <footer th:replace="~{general/fragmentos :: footer}"></footer>
    </body>
</html>
