/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
body {
    font-family: sans-serif;
}

aside {
    padding: 15px;
}

section {
    padding: 15px;
}






