<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{general/fragmentos :: head}"></head>
    <body>
        <header th:replace="~{general/fragmentos :: header}"></header>

        <div class="container text-center my-5">
            <i class="fa-solid fa-envelope fa-3x text-info mb-3"></i>
            <h2>[[#{accion.recordar}]]</h2>
            <p>[[#{registro.proximamente}]]</p>
            <a th:href="@{/login}" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i> [[#{login.login}]]</a>
        </div>

        <footer th:replace="~{general/fragmentos :: footer}"></footer>
    </body>
</html>
